* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.login-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.logo img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 1.5rem;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input:focus {
    border-color: #0062cc;
    outline: none;
}

button {
    padding: 12px;
    background-color: #0062cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #004ba0;
}

p {
    margin-top: 1rem;
    font-size: 0.9rem;
}

p a {
    color: #0062cc;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
    